<a href="https://colab.research.google.com/github/Achinoam882/dataBasesProject/blob/main/create_data_in_file_csv.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
pip install names

Collecting names
  Downloading names-0.3.0.tar.gz (789 kB)
     |████████████████████████████████| 789 kB 7.5 MB/s
Building wheels for collected packages: names
  Building wheel for names (setup.py) ... done
  Created wheel for names: filename=names-0.3.0-py3-none-any.whl size=803699 sha256=cff21ed5c344c1841cc8aa744318b59bbed0bb717dd3f9ac4e830d0c7f64e4f8
  Stored in directory: /root/.cache/pip/wheels/05/ea/68/92f6b0669e478af9b7c3c524520d03050089e034edcc775c2b
Successfully built names
Installing collected packages: names
Successfully installed names-0.3.0

In [2]:
import names

In [3]:
import random

In [4]:
from functools import reduce

In [5]:
import pandas as pd

In [8]:
def create_random_csv_data_with_pandas(n):
  payment_id = range(1,n + 1)
  lst = ['Cards', 'Check', 'Cash' , 'GiftCards']
  type_of_payment = random.choices(lst, k=1000)
  payment_name = map(names.get_full_name, range(1,n + 1)) 
  #receipt_id = np.random.randint(1, n, size=n)
  receipt_id = map(str, random.sample(range(1,n + 1), n))
  data = {'payment_id' : payment_id,
          'type_of_payment' : type_of_payment,
          'payment_name' : payment_name, 
          'receipt_id' : receipt_id}
  df = pd.DataFrame(data)
  return df

In [9]:
df = create_random_csv_data_with_pandas(1000)

In [10]:
df

     payment_id type_of_payment        payment_name receipt_id
0             1           Check        Ronald Pflug        228
1             2           Cards  Marion Kirkpatrick        363
2             3            Cash          Jose Wells        264
3             4           Cards          Jane Reese        550
4             5            Cash     Guillermo Means        218
..          ...             ...                 ...        ...
995         996           Check       Nellie Bouton        792
996         997       GiftCards       Timothy Quist        803
997         998           Cards         Joseph Sapp        730
998         999           Check   Donald Richardson        104
999        1000           Cards       Bobby Delgado        667

[1000 rows x 4 columns]

In [11]:
df.to_csv("Payment.csv" , index=False)

In [ ]:
def create_random_csv_data_for_Client(n):
  client_id = range(1,n + 1)
  data = {'client_id' : client_id,}
  df = pd.DataFrame(data)
  return df

In [ ]:
df = create_random_csv_data_for_Client(1000)

In [ ]:
df

     client_id
0            1
1            2
2            3
3            4
4            5
..         ...
995        996
996        997
997        998
998        999
999       1000

[1000 rows x 1 columns]

In [ ]:
def create_random_csv_data_for_Cards(n):
  card_number = range(1,n + 1)
  bar_code = np.random.randint(10000, 99999, size=1000)
  price = np.random.randint(100, 250, size=1000)
  date_of_expiry = pd.date_range('1/1/2022' , '12/31/2024')
  data = {'card_number' : card_number,
          'bar_code' : bar_code,
          'price' : price,
          'date_of_expiry' : date_of_expiry
          }
  dataf = pd.DataFrame.from_dict(data, orient='index')
  return dataf

In [6]:
from random import sample

In [ ]:
dataf = create_random_csv_data_for_Cards(1000)

In [ ]:
df

,0,1,2,3,4,5,6,7,8,9,...,990,991,992,993,994,995,996,997,998,999
card_number,1,2,3,4,5,6,7,8,9,10,...,991.0,992.0,993.0,994.0,995.0,996.0,997.0,998.0,999.0,1000.0
bar_code,72399,89216,63462,57698,25688,95544,98996,15449,15136,55019,...,78946.0,25101.0,32867.0,93213.0,60213.0,23356.0,50431.0,54792.0,93332.0,53505.0
price,209,148,167,221,136,115,229,147,177,181,...,246.0,199.0,214.0,216.0,249.0,105.0,122.0,238.0,179.0,220.0
date_of_expiry,2022-01-01 00:00:00,2022-01-02 00:00:00,2022-01-03 00:00:00,2022-01-04 00:00:00,2022-01-05 00:00:00,2022-01-06 00:00:00,2022-01-07 00:00:00,2022-01-08 00:00:00,2022-01-09 00:00:00,2022-01-10 00:00:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Warning: Total number of columns (1000) exceeds max_columns (20) limiting to first (20) columns.

In [7]:
import numpy as np